body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
}

.logoutButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: darkblue;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}