body {
    font-family: Arial, sans-serif;
    background-image: url("eventBookingBackgroundLogIn.jpg");
    background-size: cover;
    /*background-position: center; line 5*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.loginContainer {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px black;
    width: 320px;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
    color: black;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    /*transition: background 0.8s; line 53*/
}

button:hover {
    background-color: darkblue;
}

.errorMessage {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.rememberLabel {
    display: flex;
    align-items: center;
    /*gap: 8px;*line 70*/
    font-size: 14px;
    color: black;
    margin-bottom: 16px;
}

.roleSelect {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    color: black;
    font-size: 14px;
}